$scale: 1;
$borderGrey: #868a8e;
$borderLightGrey: #c3c7cb;
$borderWhite: #ffffff;
$borderBlack: #000000;
$titleBlue: #0000aa;
$backgroundGrey: #c3c7cb;

@font-face {
  font-family: W95;
  src: url(./assets/font/W95font.otf);
  font-weight: normal;
}

@font-face {
  font-family: W95;
  src: url(./assets/font/W95font-Bold.otf);
  font-weight: bold;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: W95;
  font-size: $scale * 14px;
  padding: 0;
  margin: 0;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

div.container {
  background-color: $backgroundGrey;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.container > div {
  border-top: $scale * 1px solid $borderWhite;
  border-left: $scale * 1px solid $borderWhite;
  border-bottom: $scale * 1px solid $borderGrey;
  border-right: $scale * 1px solid $borderGrey;
  position: absolute;
  top: $scale * 1px;
  bottom: $scale * 1px;
  left: $scale * 1px;
  right: $scale * 1px;
}

div.title {
  background-color: $titleBlue;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  height: $scale * 18px;
  top: $scale * 2px;
  left: $scale * 2px;
  right: $scale * 2px;
}

div.title > div.file-icon {
  position: absolute;
  background-color: red;
  top: $scale * 1px;
  bottom: $scale * 1px;
  left: $scale * 2px;
  height: $scale * 16px;
  width: $scale * 16px;
  background: url(./assets/images/file-icon16x16.png);
  background-size: cover;
}

div.title > span.title-text {
  position: absolute;
  left: $scale * 22px;
  top: $scale * 3px;
  font-size: $scale * 12px;
}

div.buttonMenuStrip {
  position: absolute;
  top: $scale * 20px;
  height: $scale * 20px;
  left: $scale * 2px;
  right: $scale * 2px;

}

div.menuItemSelected {
  background-color: $titleBlue;
  color: #ffffff;
}

div.buttonMenu {
  display: inline-block;
}

div.button {
  display: inline-block;
  margin-top: $scale * 1px;
  margin-bottom: $scale * 1px;
  padding-left: $scale * 4px;
  padding-right: $scale * 4px;
  padding-top: $scale * 3px;
  padding-bottom: $scale * 3px;
}
div.button:hover {
  background-color: $titleBlue;
  color: #ffffff;
}

div.menuContainer {
  position: absolute;
  border-top: $scale * 1px solid #c3c7cb;
  border-left: $scale * 1px solid #c3c7cb;
  border-bottom: $scale * 1px solid #000000;
  border-right: $scale * 1px solid #000000;
  margin: 0 auto;
  text-align: left;
  width: auto;
  white-space: nowrap;
  z-index: 2;
  background-color: #c3c7cb;
}

ul.menu {
  border-top: $scale * 1px solid $borderWhite;
  border-left: $scale * 1px solid $borderWhite;
  border-bottom: $scale * 1px solid $borderGrey;
  border-right: $scale * 1px solid $borderGrey;
  padding: 5px 0px;
}

ul.menu > li {
  list-style-type: none;
}

div.separator {
  position: relative;
  width: 100%;
  border-top: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  margin-top: $scale * 10px;
  margin-bottom: $scale * 10px;
}

div.menuItem {
  display: flex;
  padding-top: $scale * 2px;
  padding-bottom: $scale * 2px;
}

div.leftContainer {
  display: inline-block;
}

div.menuItem div.tickContainer {
  display: inline-block;
  width: $scale * 30px;
  text-align: center;
}

div.menuItem div.nameContainer {
  display: inline-block;
}

div.menuItem div.shortcutContainer {
  display: inline-block;
  text-align: right;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: 0;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: $scale * 1px;
}

div.leftPanelArea {
  position: absolute;
  left: 0;
  width: $scale * 56px;
  top: $scale * 45px;
  bottom: $scale * 75px;
  margin-left: $scale * 2px;
  margin-right: $scale * 2px;
}

div.leftPanelArea > div.leftPanelTop {
  position: absolute;
  border-top: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

div.leftPanelArea > div.leftPanelBottom {
  position: absolute;
  border-top: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

div.drawAreaContainer {
  position: absolute;
  top: $scale * 45px;
  bottom: $scale * 75px;
  left: $scale * 59px;
  right: $scale * 5px;
  border-top: $scale * 1px solid $borderGrey;
  border-left: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  border-right: $scale * 1px solid $borderWhite;
}

div.drawAreaContainer > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: $scale * 1px solid $borderBlack;
  border-left: $scale * 1px solid $borderBlack;
  border-bottom: $scale * 1px solid $borderLightGrey;
  border-right: $scale * 1px solid $borderLightGrey;
  background-color: $borderGrey;
  overflow: scroll;
}


div.drawAreaHandleContainer {
  position: absolute;
  padding-left: $scale * 3px;
  padding-top: $scale * 3px;
  padding-right: $scale * 3px;
}

div.drawAreaHandle {
  position: absolute;
  width: $scale * 3px;
  height: $scale * 3px;
  background-color: $titleBlue;
}

div.drawAreaHandleFixed {
  position: absolute;
  width: $scale * 2px;
  height: $scale * 2px;
  background-color: #ffffff;
  border-top: 1px solid $titleBlue;
  border-left: 1px solid $titleBlue;
}

div.drawAreaHandleTopLeft {
  top: 0;
  left: 0;
}

div.drawAreaHandleTop {
  top: 0;
  left: 50%;
}

div.drawAreaHandleTopRight {
  top: 0;
  right: 0;
}

div.drawAreaHandleLeft {
  top: 50%;
  left: 0;
}

div.drawAreaHandleBottomLeft {
  bottom: 1px;
  left: 0;
}

div.drawAreaHandleBottom {
  bottom: 1px;
  left: 50%;
}

div.drawAreaHandleBottomRight {
  bottom: 1px;
  right: 0;
}

div.drawAreaHandleRight {
  top: 50%;
  right: 0;
}

canvas.drawCanvas {
  position: relative;
}

div.colorSwatches {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 33px;
  right: 0;
}

div.colorSwatches > div.colorSwatchesTopRow {
  position: absolute;
  top: 0;
  border-right: $scale * 1px solid $borderGrey;
}

div.colorSwatches > div.colorSwatchesBottomRow {
  position: absolute;
  bottom: -2px;
  border-right: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderGrey;
}

div.colorPickerContainer {
  position: absolute;
  top: $scale * 7px;
  height: $scale * 33px;
  left: 0;
  right: 0;
}

div.colorCellContainer {
  float: left;
  position: relative;
  width: $scale * 15px;
  height: $scale * 15px;
  border-top: $scale * 1px solid $borderGrey;
  border-left: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  border-right: $scale * 1px solid $borderWhite;
}

div.colorCell {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: $scale * 1px solid $borderBlack;
  border-left: $scale * 1px solid $borderBlack;
  border-bottom: $scale * 1px solid $borderLightGrey;
  border-right: $scale * 1px solid $borderLightGrey;
}

div.currentColorsContainer {
  float: left;
  position: relative;
  height: $scale * 32px;
  width: $scale * 31px;
  border-top: $scale * 1px solid $borderGrey;
  border-left: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  border-right: $scale * 1px solid $borderWhite;
}

div.currentColors {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: $scale * 1px solid $borderBlack;
  border-left: $scale * 1px solid $borderBlack;
  border-bottom: $scale * 1px solid $borderLightGrey;
  border-right: $scale * 1px solid $borderLightGrey;
  /* Checkered image tiled to make checkered background */
  background: url(./assets/images/transparent_2x2.png) repeat;
}


div.currentCellContainer {
  display: inline-block;
  position: relative;
  width: $scale * 15px;
  height: $scale * 15px;
  border-top: $scale * 1px solid $borderWhite;
  border-left: $scale * 1px solid $borderWhite;
  border-bottom: $scale * 1px solid $borderGrey;
  border-right: $scale * 1px solid $borderGrey;
}

div.currentCell {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: $scale * 1px solid $borderLightGrey;
}

div.currentColors > div.fg {
  position: absolute;
  left: $scale * 2px;
  top: $scale * 3px;
  z-index: 1;
}

div.currentColors > div.bg {
  position: absolute;
  left: $scale * 9px;
  top: $scale * 10px;
}

div.bottomPanelContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $scale * 75px;
  margin-left: $scale * 2px;
  margin-right: $scale * 2px;
  background-color: $backgroundGrey;
}

div.bottomPanelSeparator {
  position: absolute;
  border-top: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  left: 0;
  right: 0;
  bottom: $scale * 25px;
}

div.bottomTextArea {
  position: absolute;
  bottom: $scale * 2px;
  height: $scale * 19px;
  border-top: $scale * 1px solid $borderGrey;
  border-left: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderWhite;
  border-right: $scale * 1px solid $borderWhite;
}

div.bottomTextArea > div {
  padding-top: $scale * 3px;
}

div.helpTextArea {
  left: $scale * 4px;
  right: $scale * 230px;
}

div.coordArea {
  width: $scale * 110px;
  right: $scale * 116px;
}

div.rightTextArea {
  width: $scale * 110px;
  right: $scale * 2px;
}

div.leftPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $scale * 4px;
  right: 0;
}

div.leftPanelButtonContainer {
  position: relative;
  float: left;
  width: $scale * 23px;
  height: $scale * 23px;
  border-top: $scale * 1px solid $borderWhite;
  border-left: $scale * 1px solid $borderWhite;
  border-bottom: $scale * 1px solid $borderBlack;
  border-right: $scale * 1px solid $borderBlack;
}

div.leftPanelButtonContainerPressing {
  border-top: $scale * 1px solid $borderBlack;
  border-left: $scale * 1px solid $borderBlack;
  border-bottom: $scale * 1px solid $borderWhite;
  border-right: $scale * 1px solid $borderWhite;
}

div.leftPanelButtonContainerSelected {
  border-top: $scale * 1px solid $borderBlack;
  border-left: $scale * 1px solid $borderBlack;
  border-bottom: $scale * 1px solid $borderWhite;
  border-right: $scale * 1px solid $borderWhite;
  background: url(./assets/images/transparent_2x2_flipped.png) repeat;
}

div.leftPanelButton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: $scale * 1px solid $borderGrey;
  border-right: $scale * 1px solid $borderGrey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top $scale * 0px left $scale * 1px;
}

div.leftPanelButtonContainerPressing > div.leftPanelButton {
  border-top: $scale * 1px solid $borderGrey;
  border-left: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderLightGrey;
  border-right: $scale * 1px solid $borderLightGrey;
  background-position: top $scale * 1px left $scale * 2px;
}

div.leftPanelButtonContainerSelected > div.leftPanelButton {
  border-top: $scale * 1px solid $borderGrey;
  border-left: $scale * 1px solid $borderGrey;
  border-bottom: $scale * 1px solid $borderLightGrey;
  border-right: $scale * 1px solid $borderLightGrey;
  background-position: top $scale * 1px left $scale * 2px;
}

div.leftPanelTransparencyContainer {
  position: absolute;
  top: 204px;
  left: 8px;
  width: 39px;
  height: 64px;
  border-left: 1px solid $borderGrey;
  border-top: 1px solid $borderGrey;
  border-right: 1px solid $borderWhite;
  border-bottom: 1px solid $borderWhite;
}

.icon_Airbrush {
  background-image: url(./assets/images/tools/Airbrush.png);
}

.icon_Brush {
  background-image: url(./assets/images/tools/Brush.png);
}

.icon_Curve {
  background-image: url(./assets/images/tools/Curve.png);
}

.icon_Ellipse {
  background-image: url(./assets/images/tools/Ellipse.png);
}

.icon_Eraser {
  background-image: url(./assets/images/tools/Eraser.png);
}

.icon_Color_Picker {
  background-image: url(./assets/images/tools/Color_Picker.png);
}

.icon_Fill_With_Color {
  background-image: url(./assets/images/tools/Fill_With_Color.png);
}

.icon_Free-Form_Select {
  background-image: url(./assets/images/tools/Free-Form_Select.png);
}

.icon_Line {
  background-image: url(./assets/images/tools/Line.png);
}

.icon_Magnifier {
  background-image: url(./assets/images/tools/Magnifier.png);
}

.icon_Pencil {
  background-image: url(./assets/images/tools/Pencil.png);
}

.icon_Polygon {
  background-image: url(./assets/images/tools/Polygon.png);
}

.icon_Rectangle {
  background-image: url(./assets/images/tools/Rectangle.png);
}

.icon_Rounded_Rectangle {
  background-image: url(./assets/images/tools/Rounded_Rectangle.png);
}

.icon_Select {
  background-image: url(./assets/images/tools/Select.png);
}

.icon_Text {
  background-image: url(./assets/images/tools/Text.png);
}

.cursor_Pencil {
  cursor: url(./assets/images/cursors/pencil.png) 0 16, auto;
}

.cursor_Select {
  cursor: url(./assets/images/cursors/select.png) 10 10, auto;
}
